#forgot-password-page {
  margin-top: 58px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 116px);
  padding-left: 200px;
  padding-right: 200px;
  color: #fff;
}

#forgot-password-box {
  border: #fff 2px solid;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 110px;
  padding-right: 110px;
}

@media screen and (max-width: 992px) {
  #forgot-password-page {
    padding-left: 50px;
    padding-right: 50px;
  }

  #forgot-password-box {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#forgot-password-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#forgot-password-box button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  align-self: center;
  width: 80%;
}

#forgot-password-box button:hover {
  background-color: #2e2e2e;
}

#forgot-password-box h2 {
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

#forgot-password-box p {
  margin-top: 10px;
  margin-bottom: 0;
  color: #baffb9;
}